@model GoonGamesOuh.Models.play;
@{
	ViewData["Title"] = "Question " + Model.Id;
	if (Model.LoginStatus)
	{
		ViewData["LoginStatus"] = "Logout";
	}
	else
	{
		ViewData["LoginStatus"] = "Login/Register";
	}
}
<div class="digital-screen">
	<div class="question-number">
		Question @Model.Id
	</div>
	<div class="question-prompt">
		@{ 
			foreach (string prompt in Model.Prompt)
			{
				<p class="question-prompt">
					@Html.Raw(prompt)
				</p>
			}
		}
	</div>
	<div class="answer-input">
		@{if (Model.Id != 0)
			{
				@using (Html.BeginForm("QuestionChecked", "play", FormMethod.Post))
				{
					@Html.TextBoxFor(input => input.Answer)
					<button type="submit">Submit</button>
				}
			}
		 }
	</div>
	<div class="answer-result">
		@Model.ConfirmationMessage
	</div>
	<!-- @Model.HelpfulComments -->
</div>