@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model GoonGamesOuh.Models.User;
@{
    ViewData["Title"] = @"Register / Login";
    if (Model.LoginStatus)
    {
        ViewData["LoginStatus"] = "Logout";
    }
    else
    {
        ViewData["LoginStatus"] = "Login/Register";
    }
}
	<div class="digital-screen">
		<div class="register">
			<p class="user-heading">
				REGISTER
			</p>
			@{
				@using (Html.BeginForm("Register", "User", FormMethod.Post))
		        {
					<table class="register-form">
						<tr class="register-form">
							<td class="register-form form-label">First Name</td>
							<td class="register-form form-input">@Html.TextBoxFor(input => input.FirstName)</td>
						</tr>
						<tr class="register-form">
							<td class="register-form form-label">Last Name</td>
							<td class="register-form form-input">@Html.TextBoxFor(input => input.LastName)</td>
						</tr>
						<tr class="register-form">
							<td class="register-form form-label">Email ID</td>
							<td class="register-form form-input">@Html.TextBoxFor(input => input.EmailID)</td>
						</tr>
						<tr class="register-form">
							<td class="register-form form-label">Discord Username</td>
							<td class="register-form form-input">@Html.TextBoxFor(input => input.DiscordUsername)</td>
						</tr>
						<tr class="register-form">
							<td class="register-form form-label">Password</td>
							<td class="register-form form-input">@Html.PasswordFor(input => input.Password, new { htmlAttributes = new { @class = "form-control", value = "Password" } })</td>
						</tr>
						<tr class="register-form">
							<td class="register-form">
								<button type="submit">Submit</button>
							</td>
						</tr>
					</table>
					}
                }
		</div>
		<hr class="dashed-double" />
		@Model.ConfirmationMessage
		<hr class="dashed-double" />
		<div class="login">
			<p class="user-heading">
				LOGIN
			</p>
			@using (Html.BeginForm("Login", "User", FormMethod.Post))
			{
				<table class="login-form">
                    <tr class="login-form">
                        <td class="login-form form-label">Email ID</td>
                        <td class="login-form form-input">@Html.TextBoxFor(input => input.EmailID)</td>
                    </tr>
                    <tr class="login-form">
                        <td class="login-form form-label">Password</td>
                        <td class="login-form form-input">@Html.PasswordFor(input => input.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })</td>
                    </tr>
                    <tr class="login-form">
                        <td class="login-form">
                            <button type="submit">Submit</button>
                        </td>
                    </tr>
				</table>
			}
		</div>
	</div>