@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model GoonGamesOuh.Models.User;
@{
    ViewBag.Title = @"Register / Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div>
        @using (Html.BeginForm("Register", "User", FormMethod.Post))
        {
            <label>First Name</label>
            @Html.TextBoxFor(input => input.FirstName)
            <br />
            <label>Last Name</label>
            @Html.TextBoxFor(input => input.LastName)
            <br />
            <label>Email ID</label>
            @Html.TextBoxFor(input => input.EmailID)
            @Html.ValidationMessageFor(model => model.EmailID)
            <br />
            <label>Discord Username</label>
            @Html.TextBoxFor(input => input.DiscordUsername)
            @Html.ValidationMessageFor(model => model.DiscordUsername)
            <br />
            <label>Password</label>
            @Html.PasswordFor(input => input.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
            @Html.ValidationMessageFor(model => model.Password)
            <br />
            <button type="submit">Submit</button>
        }
        <hr />
        @using (Html.BeginForm("Login", "User", FormMethod.Post))
        {
            <label>Email ID</label>
            @Html.TextBoxFor(input => input.EmailID)
            @Html.ValidationMessageFor(model => model.EmailID)
            <br />
            <label>Password</label>
            @Html.PasswordFor(input => input.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
            @Html.ValidationMessageFor(model => model.Password)
            <br />
            <button type="submit">Submit</button>
        }
        @Model.ConfirmationMessage
    </div>